.container {
  height: 100%;
  overflow-y: auto;

  .treeNode {
    height: 40px;
    padding: 0 5px 0 10px;
    line-height: 40px;
    cursor: pointer;
    &:hover {
      background-color: #e2f0ff;
    }
  }
  .group {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .role {
    padding-left: 48px;
  }
  .select {
    background-color: #b3e0ff;
  }
}
