.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;

  .optionInput {
    width: 65% !important;
  }
  .delete {
    margin-left: 5px;
  }
}

.buttonWrapper {
  margin-top: 10px;
}
