{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            // "useBuiltIns": "usage",
            // "corejs": 3
          }
        ]
      ]
    }
  }
}
