.appTpls {
  list-style: none;
  li {
    width: 154px;
    height: 182px;
  }
}

@mixin card-selected {
  border: 1px solid map-get($lcp-theme-color, 'primary');
  box-shadow: 0 1px 6px 0 rgba(16, 127, 255, 0.5);
}

.appTplCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #dfe0f8;
  border-radius: 8px;
  transition: all 0.15s ease;
  span {
    font-size: 12px;
    text-align: center;
    padding: {
      right: 8;
      left: 8;
    }
  }
  &:hover {
    @include card-selected();
  }
  &[acitve='true'] {
    @include card-selected();
  }
}
