.setting {
  .ant-popover-inner-content {
    padding: 0;
  }
  .ant-card-head {
    padding: 0;
  }
  .ant-card-body {
    padding: 0;
  }
  .ant-card-grid {
    margin-bottom: 10px;
  }
  .ant-btn {
    border-right: 0;
    border-left: 0;
  }
}
