.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  .title {
    color: #304265;
    font-weight: 700;
    font-size: 18px;
  }
  .toolbar {
    > button {
      margin-left: 12px;
    }
    .close {
      width: 56px;
      color: #8893a7;
      font-weight: 400;
      font-size: 24px;
      vertical-align: middle;
      opacity: 1;
    }
  }
}
