.data-list-wrapper {
  .ant-table-column-title {
    color: #304265;
    font-weight: 600;
    font-size: 14px;
  }
  .ant-table-thead > tr > th {
    padding: 7px 0;
  }
  .ant-table-tbody > tr > td {
    padding: 8px 0;
  }
}
