<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="A low-code ERP platform." />
    <meta name="keywords" content="erp,low-code,allsworth" />
    <meta name="author" content="allsworth" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <noscript>
      <div>Sorry, but you need to enable JavaScript to visit this website.</div>
    </noscript>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="canonical" href="//lcp.allsworth.cn/" />
  </head>

  <body></body>
</html>
